<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>

        <% if(ruolo == "ADMIN") { %>
          <li class="nav-item">
            <a class="nav-link" href="/servizio">Aggiungi servizio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Visualizza ordini</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Visualizza utenti</a>
          </li>
        <% } %>

        <% if(ruolo == "USER") { %>
          <li class="nav-item">
            <a class="nav-link" href="#">Storico ordini</a>
          </li>
        <% } %>

        <% if(!loggato) { %>
        <li class="nav-item">
          <a class="nav-link" href="/auth/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/register">Registrati</a>
        </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/auth/logout">Logout</a>
          </li>
        <% } %>

      </ul>
    </div>
  </nav>