<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layouts/header') -%>
    <title>Carrello</title>
</head>
<body>
    <%- include('layouts/navbar') -%>





    <div class="container">
        <h1>Carrello</h1>
    
        <div class="row ">
            <div class="col-mt4">
                
                <h1><%= ordine.utente %></h1>
                
            </div>
        </div> 


        

            <div class="row ">
                <div class="col">
                    <%= ordine.servizio%>
                </div>


            </div>
        </div>
            
          
           
    
    </div>



    <%- include('layouts/footer') -%>
</body>
</html>

