<!DOCTYPE html>
<html lang="it">
<head>
    <%- include('layouts/header') -%>
    <title>Inserisci Servizio</title>
</head>
<body>
    <%- include('layouts/navbar') -%>
    <div class="container">
        <h1>Inserisci Servizio</h1>

        <div class="row">
            <div class="col">
                <form action="/servizio" method="POST" ">
                    <div class="form-floating">
                        <label for="title">Titolo</label>
                        <input class="form-control" name="inputTitolo" id="titolo" type="text" placeholder="Inserisci titolo"/>
                        
                    </div>
                    <div class="form-floating">
                        <label for="descrizione">Descrizione</label>
                        <textarea class="form-control" name="inputDescrizione" id="body" placeholder="Inserisci descrizione" style="height: 12rem"></textarea>
                        
                    </div>

                     <div class="form-floating">
                        <label for="scadenza">Scadenza</label>
                        <input class="form-control" name="inputScadenza" id="body" placeholder="Inserisci Scadenza" ></input>
                    
                    </div>

                    <div class="form-floating">
                        <label for="prezzo">Prezzo</label>
                        <input class="form-control" name="inputPrezzo" id="body" placeholder="Inserisci prezzo" ></input>
                    
                    </div>
              
                   
                    </br>
                    <button type="submit" class="btn btn-primary text-uppercase">Insert</button>
                </form>
            </div>
        </div>

    </div>

    <%- include('layouts/footer') -%>
</body>
</html>