<!DOCTYPE html>
<html lang="it">
<head>
    <%- include('layouts/header') -%>
    <title>Home - Elenco Servizi</title> 
</head>
<body>
    <%- include('layouts/navbar') -%>
    <div class="container">
    <h1>Home</h1>
    <h2>Elenco Servizi</h2>

    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                        
              


                <% for(let i=0; i<elencoservizi.length; i++){ %>
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                        <h4 class="my-0 font-weight-normal"><%= elencoservizi[i].titolo %></h4>
                        </div>
                        <div class="card-body">
                        <h1 class="card-title pricing-card-title"><%= elencoservizi[i].prezzo %><small class="text-muted">/ mo</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li><%= elencoservizi[i].descrizione %></li>
                            <li><%= elencoservizi[i].scadenza %></li>
                        </ul>
                        <% if(ruolo == "USER") { %>
                            <form action="/ord/carrello" method="POST"></form>
                            <button type="submit" class="btn btn-lg btn-block btn-primary">Abbonati</button>
                            </form>
                        <% } %>
                        </div>
                    </div>
                <% } %>

            </div>
        </div>
    </div>
    

    </div>
<%- include('layouts/footer') -%>
</body>
</html>