<!DOCTYPE html>
<html lang="it">
<head>
    <%- include('layouts/header') -%>
    <title>Servizio</title> 
</head>
<body>
    <%- include('layouts/navbar') -%>
    <div class="container">
        <h1>Servizio</h1>
    
        <div class="row ">
            <div class="col-mt4">
                
                <h1><%= servizio.titolo %></h1>
                
            </div>
        </div> 


        

            <div class="row ">
                <div class="col">
                    <%= servizio.descrizione %>
                </div>


            </div>
            
            <div class="row ">
                <div class="col-mt4">
                    <%= servizio.prezzo %>€
                </div>
            </div>
        
        

           
    
    </div>
<%- include('layouts/footer') -%>
</body>
</html>